.btn1 {
    position: relative;
    display: inline-block;
    span.shadow {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        filter: brightness(0.5);
        background: $blue;
        border-radius: 6px;
    }
    &:hover {
         a, input[type="submit"] {
             transform: translate(-5px, 5px);
         }
    }
    a, input[type="submit"] {
        display: inline-block;
        width: auto;
        min-width: 120px;
        border-radius: 6px;
        background: $blue;
        color: $white;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.12s ease-in;
        font-family: $dongle;
        font-size: 32px;
        line-height: 24px;
        z-index: 1;
        position: relative;
        padding: 10px 24px;
        cursor: pointer;
        outline: none;
        border: none;
    }
}

.visit-btn {
    background: $blue;
    color: $white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-in;
    svg {
        margin-right: 10px;
    }
}

.soc-icons {
    position: relative;
    display: inline-block;
    span.shadow {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        filter: brightness(0.5);
        border-radius: 50%;
    }
    &:hover {
         a, input[type="submit"] {
             transform: translate(-5px, 5px);
         }
    }
    a {
        display: inline-block;
        width: auto;
        border-radius: 50%;
        color: $white;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.12s ease-in;
        font-size: 24px;
        line-height: 24px;
        z-index: 1;
        position: relative;
        padding: 10px;
        cursor: pointer;
        outline: none;
        border: none;
        svg {
            color: white;
        }
    }

    &.fb-icon {
        span.shadow, a {
            background: rgb(26,157,227);
            background: linear-gradient(180deg, rgba(26,157,227,1) 0%, rgba(0,98,224,1) 100%);
        }
    }
    &.tw-icon {
        span.shadow, a {
            background-color: #1D9BF0;
        }
    }
    &.ig-icon {
        span.shadow,a {background: rgb(254,218,119);
            background: radial-gradient(ellipse at left bottom, rgba(254,218,119,1) 0%, rgba(245,133,41,1) 35%, rgba(221,42,123,1) 50%, rgba(129,52,175,1) 65%, rgba(71,79,211,1) 80%, rgba(0,112,255,1) 100%);
        }
    }
    &.in-icon {
        span.shadow, a {
            background-color: #0073B1;
        }
    }
}