.tools-list {
    width: 100%;
    margin-top: 44px;
    h3 {
        margin-bottom: 24px;
    }
    .tools-group {
        display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr));
        grid-gap: 42px 15px;
        margin-bottom: 44px;
        @media (max-width: 480px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .tools-item {
            text-align: center;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            svg {
                width: 64px;
                font-size: 52px;
            }
            h4 {
                margin-top: 7px;
                font-family: $source;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}