section.who {
    padding: 20px 0;
    margin-bottom: 24px;
    h3 {
        display: block;
        margin-bottom: 12px;
    }
    p {
        text-align: justify;
        text-align-last:left;
    }
}